*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center; 
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.cabecario {
  background:#000;
  text-align: justify;
}

.cabecario li{
    list-style: nome;

}
.cabecario a{
    color: #fff;
    text-decoration: none;
}
.navbar{
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 34px;
}
.logo{
    font-size: 2em;
    font-weight: blod;
}

.nav-menu{
    display: flex;
    align-items: center;
    gap: 45px;
}
.nav-link{
    transition: 0.5s ease;
}

.nav-link:hover{
    color: aqua;
}

.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: #fff;
    transition: all 0,3s ease-in-out;
}


@media (max-width:768px){
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        border-radius: 0 0 20px 20px;
        background-color: #000;
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
    }

}

.nav-item{
  margin: 16px 0;
}

.nav-menu.active{
  left: 0;
}



.footer {
  background: lightgreen;
}

.conteudo {
  text-align: left;
  background: deepskyblue;
}

.aside-esquerdo {
  background: gold;
}

.aside-direito {
  background: hotpink;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
  .conteudo    { flex: 3 0px; }
  .aside-esquerdo { order: 1; } 
  .conteudo    { order: 2; }
  .aside-direito { order: 3; }
  .footer  { order: 4; }
}

body {
  padding: 10;
  margin: 0; 
}

