.conteudo{
    margin-top: 15px;
    margin-bottom: 10rem;
}
.p1{
    font-size: 40px;
    display: flex;
    margin-top: 3%;
    justify-content: center; 
    text-align: center;
    font-weight: 700;
}
.p2{
    font-size: 20px;
    display: flex;
    justify-content: center; 
    text-align: center;
    color: rgb(77, 77, 77); 
    margin-top: 20px;
    padding: 0% 25% 0% 25%;
    font-weight: 500;
}
.p3{
    font-size: 25px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}
.p4{
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-weight: 400;
}
.p5{
    font-size: 25px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}
.p6{
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-weight: 400;
}
.p7{
    font-size: 25px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}
.p8{
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-weight: 400;
}
.p9{
    font-size: 25px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}
.p10{
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-weight: 400;
}