  .card {
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      margin: 5px;
      overflow: hidden; /* Adicionamos esta propriedade para ocultar o overflow da imagem */
      width: 50rem;
    }
 
    .grid-noticias {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
     
    }

    .noticias-menores {
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      margin-top: -15px;

    }
        
    .card-img-top {
      max-width: 100%;
      height: auto;
      transition: transform 0.3s; /* Adicionamos uma transição de 0.3 segundos */
    }
    
    .card-img-top:hover {
      transform: scale(1.08); /* Aplicamos um aumento de 10% no tamanho ao passar o mouse */
    }
      
    .card-body {
      padding: 10px;
    }
    
    .card-title {
      font-size: 1.25rem;
      font-weight: bold;
    }
    
    .card-text {
      font-size: 1rem;
      color: #555;
  }



  .card-menores {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 5px;
    overflow: hidden; /* Adicionamos esta propriedade para ocultar o overflow da imagem */
    width: 14rem;
  }

  
  .card-img-top-menores {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s; /* Adicionamos uma transição de 0.3 segundos */
  }
  
  .card-img-top-menores:hover {
    transform: scale(1.2); /* Aplicamos um aumento de 10% no tamanho ao passar o mouse */
  }
    
  .card-body-menores {
    padding: 5px;
  }
  
  .card-title-menores {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .card-text-menores {
    font-size: 1rem;
    color: #555;
}





.grid-noticia-geral {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
 
}



.noticia-esquerdo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.noticia-direita{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 15px;

}

.card-noticia-geral {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px;
  display: flex; /* Use flexbox para criar um layout de duas colunas */
  overflow: hidden;
  width: 50rem;
}

.card-content-noticia-geral {
  display: flex; /* Use flexbox para alinhar imagem e texto verticalmente */
}

.card-img-container {
  border-radius: 10px;
  overflow: hidden;
  max-width: 50%; /* Defina a largura máxima da coluna da imagem */
  padding: 5px;
}

.card-img-noticia-geral {
  border-radius: 5px;
  max-width: 100%;
  height: auto;
  transition: transform 0.3s;
}

.card-img-noticia-geral:hover {
  transform: scale(1.08);
}



.card-text-noticia-geral {
  flex-grow: 1; /* Permite que a coluna de texto ocupe o espaço restante na linha */
  padding: 10px;
}

.card-title-noticia-geral {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-text-noticia-geral {
  font-size: 1rem;
  color: #555;
}
